
@{
    Layout = "_AdminLayout";
}

  
 <!-- Color System -->
            <div class="row">
                
                <div class="col-md-12 " style="display:flex; justify-content:center; width:100%;" >
                    <div class="card bg-success text-white shadow" style="width:80%;">
                        <div class="card-body text-center">
                            <h4>Admin Panele Hoş Geldin</h4> 
                        </div>
                    </div>
                </div>
            </div>

