@model CinemaSystem.Models.TheaterChair

@{ ViewData["Title"] = "Create";
    Layout = "_AdminLayout";}

<h1>Create</h1>

<h4>TheaterChair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="TheaterChairs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CinemaTheaterId" class="control-label"></label>
                <select asp-for="CinemaTheaterId" class="form-control" asp-items="ViewBag.CinemaTheaterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChairCode" class="control-label"></label>
                <input asp-for="ChairCode" class="form-control" />
                <span asp-validation-for="ChairCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TheaterChairList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
