<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="">
    <title>@ViewData["Title"] - CinemaSystem</title>
    <link href="~/Home/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Home/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
</head>
<body>
    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="index.html" class="navbar-brand brand"> SCORILO </a>
                    </div>
                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="propClone"><a href="index.html">Anasayfa</a></li>
                            <li class="propClone"><a href="">Vizyondakiler</a></li>
                            <li class="propClone"><a href="contact.html">Contact</a></li>
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>

            @if (ViewData["Title"].ToString() == "Home Page")
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="text-homeimage">
                                <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                                   Konforlu Koltuklarda Hemen Sen de Yerini Al
                                </div>
                                <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                                    İlk Biletine Mısırın Bizden
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </header>
    
        <main role="main">
            @RenderBody()
        </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CinemaSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- FOOTER =============================-->
    <div class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="footernote">
                    Connect with Scorilo
                </p>
                <ul class="social-iconsfooter">
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                <p>
                    &copy; 2021 - CinemaSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a><br
                </p>
            </div>
        </div>
    </div>
    <script src="~/Home/js/jquery-.js"></script>
    <script src="~/Home/js/bootstrap.min.js"></script>
    <script src="~/Home/js/anim.js"></script>
    <script>
        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
